@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
/* header section start */
header{
    width: 100%;
    background-color: rgba(16, 16, 175, 0.884);
    padding: 50px 100px 80px 100px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    display: flex;
    gap: 36px;
   
}
.nav-item a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
}
.login-btn{
    background-color: rgb(224, 44, 109);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10px;
    padding: 2px 10px;
}
.login-img{
    width: 30px;
}
.ham-icon-box{
    display: none;
}
.ham-barguer{
    color: white;
}
/* banner section  */
.banner{
    display: flex;
    justify-content: space-between;
}
.banner-content-title{
    font-size:3.8rem;
    color: white;
    width: 486px;
    margin-top: 100px;
}
.watch-btn{
    background-color: rgb(224, 44, 109);
    border: none;
    color: white;
    font-size: 1rem;
    padding: 10px 25px;
    margin-top: 20px;
}
.banner-image-box{
    width: 556px;
    margin-top: 50px;
}
.banner-image-box img{
    width: 100%;
}
/* Main section  */

.player-box{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 30px;
    place-items: center;
    margin: 90px 260px;
}
.player-card{
    width: 330px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    padding: 15px;
}
.player-card-image-box{
    width: 300px;
}
.player-card-image-box img{
    width: 100%;
}
.card-title{
    font-weight: 700;
    font-size:1.75rem ;
    
}
.card-des{
    color: rgb(108, 108, 108);
    font-size: 1rem;
    margin-top: 10px;
}
/* Highlights section  */
 
.highlights{
    margin: 20px 100px 80px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 10px;
}
.highlights-title{
    color: rgb(10, 8, 38);
    font-size: 3rem;
    font-weight: 700; 
    width: 480px; 
}
.highlights-des{
    width: 466px;
    color: rgb(108, 108, 108); 
}
.highlights-image-box{
    width: 567px;
}
.highlights-image-box img{
    width: 100%;
}
/* Logo section  */
.logo-box{
    width: 485px;
    margin: 0 auto;
    margin-top: 150px;
}
.logo-box img{
    width: 100%;
}
.icon-box{
    display: flex;
    justify-content: center;
    gap: 14px;
}
.icon-box img{
    width: 40px;
}
.copy{
    color: rgb(0, 0, 0);
    font-size: 1.12rem;
    font-weight: 400;
    margin: 20px auto;
    text-align: center;
       
}
/* Responsive  */
@media screen and (max-width:576px){
    .nav-item{
        display: none;
    }
    .ham-icon-box{
        display: block;
    }
    header{
        padding-left: 20px;
        padding-right: 20px;
    }
    .banner,
    .highlights
    {
        flex-direction: column;
        margin: 0px;
        align-items: start;
    }
    .banner-content-title,
    .logo-box,
    
    .banner-image-box{
        width: 90%;
    }
    .highlights-title,
    .highlights-des,
    .highlights-image-box
    
    {
        width: 100%;
    }
    .player-box{
        grid-template-columns: 1fr;
        margin:20px 0px 0px 0px;
        margin-bottom: 50px;

    }
    .highlights-image-box{
        margin-top: 30px;
    }
}